@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add a sleek dark background for our SaaS app */
body {
  background-color: #EFE7D8; /* Tailwind's slate-900 */
  color: #2B2620;
  margin: 0;
  padding: 0;
}